# 安装MySQL
https://dev.mysql.com/downloads/mysql/

或者用brew安装

In [2]:
! brew install mysql

Warning: mysql 9.5.0_3 is already installed and up-to-date.
To reinstall 9.5.0_3, run:
  brew reinstall mysql

# 安装数据库管理软件beekeeper
https://www.beekeeperstudio.io/get

In [ ]:
# 或者通过brew安装
! brew install --cask beekeeper-studio

# 创建数据库

In [ ]:
# 大小写不敏感，必须;结尾
create database learn_mysql;

# 设置默认数据库
use learn_mysql;


# 删除数据库
drop database learn_mysql;

# 设置成只读模式，试试删除，删不掉了
alter database learn_mysql read only =1;

SyntaxError: invalid syntax (209481606.py, line 1)

# 增删改数据表里的列column

In [ ]:
USE learn_mysql;

CREATE TABLE helloworld(
  user_email VARCHAR(50), 
  user_id INT,
  user_name VARCHAR(50),
  hello_date DATE
);
# 选择表
SELECT * FROM helloworld;
# 修改表名
RENAME TABLE helloworld TO register_user;

# 删除表
DROP TABLE register_user;

# 修改表的内容，比如增加一列数据
ALTER TABLE register_user
  ADD user_phone VARCHAR(11);

# 修改列名
ALTER TABLE register_user
  RENAME COLUMN user_phone to user_phone_number

# 修改列的属性
ALTER TABLE register_user
  MODIFY COLUMN user_email VARCHAR(35);

# 修改列的位置
ALTER TABLE register_user
  MODIFY  user_email VARCHAR(50) AFTER user_name;

# 修改列的位置，放在第一列
ALTER TABLE register_user
  MODIFY  user_email VARCHAR(50) FIRST;

# 删除列
ALTER TABLE register_user
  DROP COLUMN hello_date;

# 增删改数据表里的行raw

In [ ]:
# 增加行数据时，注意每一项的属性，有些要求字符、数字、等等
INSERT INTO register_user 
  VALUES(
    "test@test.com",
    1,
    "helloman",
    12345678901
  );

# 如果插入的数据不够全，就会报错
INSERT INTO register_user 
  VALUES(
    "test@test.com",
    "helloman",
    12345678901
  );

# 此时需要指定插入的列
INSERT INTO register_user (user_email, user_name,user_phone_number)
  VALUES(
    "test@test.com",
    "helloman",
    12345678901
  );