# 安装MySQL
https://dev.mysql.com/downloads/mysql/

或者用brew安装

In [2]:
! brew install mysql

Warning: mysql 9.5.0_3 is already installed and up-to-date.
To reinstall 9.5.0_3, run:
  brew reinstall mysql

# 安装数据库管理软件beekeeper
https://www.beekeeperstudio.io/get

In [ ]:
# 或者通过brew安装
! brew install --cask beekeeper-studio

# 创建数据库

In [ ]:
# 大小写不敏感，必须;结尾
create database learn_mysql;

# 设置默认数据库
use learn_mysql;


# 删除数据库
drop database learn_mysql;

# 设置成只读模式，试试删除，删不掉了
alter database learn_mysql read only =1;

SyntaxError: invalid syntax (209481606.py, line 1)

# 从表里查询数据

In [ ]:
# 全部数据
SELECT * FROM register_user

# 指定列
SELECT user_email, user_id FROM register_user

# 指定其他条件
SELECT * FROM register_user WHERE user_id =1

# 更新、删除表里的数据

In [ ]:
UPDATE register_user 
SET user_name = 'helloguy'
WHERE user_id = 1;

# 删除数据
DELETE FROM register_user
WHERE user_id is NULL;

# autocommit、commit、rollback

In [ ]:
# 停用自动提交
SET AUTOCOMMIT =OFF;

# 删除表内容后，还可以回退
SELECT * FROM register_user;
DELETE FROM register_user;
-- ROLLBACK;

# 通过commit提交，就不能回退了
COMMIT;

# current_date & current_time

In [ ]:
# 建好表
CREATE TABLE test_datetime(
	my_date DATE,
	my_time TIME,
	my_datetime DATETIME
);

# 基于事件函数插入一条row
INSERT INTO test_datetime
VALUES (CURRENT_DATE(), CURRENT_TIME(), NOW());
SELECT * FROM test_datetime;

# 时间函数可以修改
INSERT INTO test_datetime
VALUES (CURRENT_DATE() -1 , CURRENT_TIME()-600, NOW());
SELECT * FROM test_datetime;

# unique constraint 唯一约束
确保每个都不一样

In [ ]:
-- 创建一个表，里面的id字段是唯一的
CREATE TABLE test_unique(
	id INT UNIQUE,
	name VARCHAR(25)
);

-- 修改之前已经创建好的表，把某一列改成unique constraint
ALTER TABLE test_unique
ADD CONSTRAINT UNIQUE (name);

-- 试试插入两条数据，不一样的id，不一样的name，没问题
INSERT INTO test_unique
VALUES (1, 'hello'), (2, 'world');

-- 再试试插入两条数据，不一样的id，但是name一样，会报错
INSERT INTO test_unique
VALUES (3, 'hello');

# NOT NULL constraint 非空约束

In [ ]:
-- 创建一个表
CREATE TABLE test_not_null_constraint(
	test_id INT UNIQUE,
	test_name VARCHAR(25) NOT NULL
);

-- 给已经创建的表的列设置not null constraint
-- MODIFY 用于修改列的数据类型、是否 NOT NULL、默认值等列属性；
-- UNIQUE 是索引/约束，需要通过 ADD UNIQUE / ADD CONSTRAINT / CREATE UNIQUE INDEX 来添加
ALTER TABLE test_not_null_constraint
MODIFY COLUMN test_id NOT NULL;

-- 试着插入一个test_name为空的记录，会报错
INSERT INTO test_not_null_constraint
VALUES (1, NULL);

# check constraint 检查约束

In [ ]:

-- 创建一个表，带有check constraint
CREATE TABLE test_check_constraint(
	test_id INT,
	test_age INT,
	-- CONSTRAINT 用来标记这个check的名字，如果不写也行
	CONSTRAINT chk_age CHECK (test_age >= 18)
	-- CHECK (test_age >= 18
)

-- 在已有的表里添加check constraint
ALTER TABLE test_check_constraint
ADD CONSTRAINT chk_id CHECK (test_id >= 10);


-- 试试看能否触发check constraint
INSERT INTO test_check_constraint
VALUES (1, 10);  

-- 删除表里已有的check constraint
ALTER TABLE test_check_constraint
DROP CONSTRAINT chk_age;

-- 这次就不会触发check constraint
INSERT INTO test_check_constraint
VALUES (1, 10);

# default constraint 默认约束
设置某一列，默认采用xxx值

In [ ]:
-- 创建一个表，带有default constraint
CREATE TABLE test_default_constraint(
	test_id INT,
	test_price INT DEFAULT 10
);

-- 在已有的表里添加default constraint
ALTER TABLE test_default_constraint
ALTER COLUMN test_id SET DEFAULT 1;

-- 插入数据时，不指定test_price列，就会默认为10
INSERT INTO test_default_constraint (test_id)
VALUES (1),
	   (2);

# 增删改数据表里的列column

In [ ]:
USE learn_mysql;

CREATE TABLE helloworld(
  user_email VARCHAR(50), 
  user_id INT,
  user_name VARCHAR(50),
  hello_date DATE
);
# 选择表
SELECT * FROM helloworld;
# 修改表名
RENAME TABLE helloworld TO register_user;

# 删除表
DROP TABLE register_user;

# 修改表的内容，比如增加一列数据
ALTER TABLE register_user
  ADD user_phone VARCHAR(11);

# 修改列名
ALTER TABLE register_user
  RENAME COLUMN user_phone to user_phone_number

# 修改列的属性
ALTER TABLE register_user
  MODIFY COLUMN user_email VARCHAR(35);

# 修改列的位置
ALTER TABLE register_user
  MODIFY  user_email VARCHAR(50) AFTER user_name;

# 修改列的位置，放在第一列
ALTER TABLE register_user
  MODIFY  user_email VARCHAR(50) FIRST;

# 删除列
ALTER TABLE register_user
  DROP COLUMN hello_date;

# 增加数据表里的行raw

In [ ]:
# 增加行数据时，注意每一项的属性，有些要求字符、数字、等等
INSERT INTO register_user 
  VALUES(
    "test@test.com",
    1,
    "helloman",
    12345678901
  );

# 如果插入的数据不够全，就会报错
INSERT INTO register_user 
  VALUES(
    "test@test.com",
    "helloman",
    12345678901
  );

# 此时需要指定插入的列
INSERT INTO register_user (user_email, user_name,user_phone_number)
  VALUES(
    "test@test.com",
    "helloman",
    12345678901
  );